<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <main>
        <div class="container">
            <h1>Nonogram</h1>
            <div class="info">
                <p> Solve the puzzle to reveal a hidden picture. The numbers at the top and left side of the grid indicate the
                    number of unbroken lines of filled-in squares in each row and column. For example, the clue "3 4 2" means that
                    there are three squares, four squares, and two squares, in that order, separated by one or more spaces in between.</p>
                <p> Left click on a square to fill it in. Click on the square again to mark it with an X -- this lets you track the
                    squares that you think are empty. Click on the square once more to remove any markings. You can also click and 
                    drag to mark more than one square at a time. Enjoy!</p>
            </div>
            <h2><time>00:00:00</time></h2>
            <div class="game">
                <table id="grid"></table>
            </div>
            <div id="settings">
                <button id="reset" onclick="reset()">Reset</button>
                <button id="solution" onclick="showSolution()">Solution</button>
            </div>
        </div>
    </main>
</body>

<footer>Puzzle credit: <a href="https://nonogramskatana.wordpress.com/2017/01/03/25x25-koala/">Nonograms Katana Answers and Solutions</a></footer>
</html>
